# Created by https://www.gitignore.io/api/code,altium
# Edit at https://www.gitignore.io/?templates=code,altium

### Altium ###
# Previews Folders
**/__Previews/

# History Folders
**/History/*

# Project Logs
Project\ Logs*/

# Project Outputs
Project\ Outputs*/

# Auto-conversion notices
*.PcbDoc.htm

# Access lock file for dbLib sources
**/*.ldb


### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# End of https://www.gitignore.io/api/code,altium